@import "../colors.css";

window#waybar {
    background-color: transparent;
    color: transparent;
    transition-property: color;
    transition-duration: .5s;
}

window#waybar > box {
    border-radius: 20;
    border-right: 10 solid @background;
    border-top: 10 solid @background;
    border-bottom: 10 solid @background;
    border-left: 5 solid @background;
    margin: 0;
}

#custom-border {
    border-radius: 10;
    border-right: 5 solid @background;
    border-top: 5 solid @background;
    border-bottom: 5 solid @background;
    border-left: 2 solid @background;
    padding: 435 0;
}
