* {
    font-family: 'FiraCode Nerd Font';
    font-size: 11px;
}

@import "../colors.css";

window#waybar {
    background-color: transparent;
    color: @foreground;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar > box {
    border-radius: 3; 
    border: 0px #000000;
    margin: 4px; 
    background-color: @background; 
    /*box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1); */
}


#battery,
#backlight,
#pulseaudio,
#clock {
    padding: 0 10px;
  }



#battery.charging, #battery.plugged {
    color: #a9b665;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: @muted-red;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}



#network {
    background-color: transparent;
}

#network.disconnected {
    color: #f53c3c;
}


#pulseaudio.muted {
    color: #f53c3c;
}

#custom-searchbar {
    border-radius: 3;
    margin: 10 10 5 10;
    padding: 10;
    background-color: @module-bg; 

}

#greet {
    border-radius: 3;
    margin: 0 5 0 10;
    padding: 10 0 10 0;
    background-color: @module-bg;
    font-weight: bold;
}

#custom-greeting {
    margin-right: 0;
    font-size: 13;
}
#custom-name {
    margin-right: 0;
    padding: 0 62 0 61;
    font-size: 13;
}

#custom-updates {
    border-radius: 3;
    margin: 0 10 0 0;
    padding: 10 28;
    background-color: @module-bg;
}

#clock {
    border-radius: 3;
    font-size: 12;
    margin: 10;
    padding: 10 10 10 10;
}
#clock:hover {
    background-color: @module-bg;
}

#cpu {
    border-radius: 3;
    margin: 5 0 10 10;
    padding: 10 22;
    background-color: @module-bg;
}

#backlight {
    border-radius: 3;
    margin: 5 5 10 5;
    padding: 10 22;
    background-color: @module-bg;
}

#pulseaudio {
    background-color: @module-bg;
    margin: 5 10 10 0;
    padding: 10 22;
    border-radius: 3;
}

#custom-power {
  margin: 10 10 10 31;
    padding: 10 8 10 12;
    border-radius: 3;
}
#custom-power:hover {
    background-color: @module-bg;
}
