* {
    font-family: "Symbols Nerd Font", "MonaspiceNe Nerd Font";
    font-size: 12px;
}

@import "../colors.css";

window#waybar {
    background-color: transparent;
    color: @foreground;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar > box {
    /* border-radius: 0 3 3 0; */
    border: 0px #000000;
    /* margin: 4px; */
    padding: 3 5 3 5;
    background-color: @background;
    /*box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1); */
}


/* ---- Search ---- */

#search {
    background-color: @module-bg;
    border-radius: 3;
    margin: 1;
    transition: all 0.3s ease-in-out;
}
#search:hover {
    background-color: @foreground;
    color: @background;
    padding: 0 10;
    transition: all 0.3s linear;
}

#custom-search {
    border-radius: 3;
    background-color: inherit;
    margin: 3;
    padding: 5 9 5 9;
    transition: all 0.2s ease-in-out;
}
#custom-terminal {
    border-radius: 3;
    background-color: inherit;
    color: @background;
    margin: 3;
    padding: 5 9 5 9;
    transition: all 0.2s ease-in-out;
}
#custom-browser {
    border-radius: 3;
    background-color: inherit;
    color: @background;
    margin: 3;
    padding: 5 10 5 10;
    transition: all 0.2s ease-in-out;
}
#custom-clipboard {
    border-radius: 3;
    background-color: inherit;
    color: @background;
    margin: 3;
    padding: 5 11 5 11;
    transition: all 0.2s ease-in-out;
}

#custom-search:hover,
#custom-terminal:hover,
#custom-browser:hover,
#custom-clipboard:hover {
    background-color: @module-bg;
    color: @foreground;
}

#workspaces {
    margin: 0;
    background-color: inherit; 
    border-radius: 3;
    padding: 0;
}
#workspaces button {
    border-radius: 3;
    background-color: @module-bg;
    color: #838887;
    transition: all 0.3s linear;
    box-shadow: inherit;
    text-shadow: inherit;
    margin: 2 2;
    padding: 0 8;
}

#workspaces button:hover {
    background-color: @module-hover;
}

#workspaces button.persistent {
    color: alpha(@foreground, 0.666);
}

#workspaces button.empty {
    color: alpha(@foreground, 0.1);
}


#workspaces button.active,
#workspaces button.visible {
    /* font-weight: bold; */
    color: @foreground;
    background-color: @module-hover;
    transition: all 0.3s ease-in-out;
}
#workspaces button.active:hover {
    background-color: @module-hover;
}

#workspaces button.urgent {
    background-color: @muted-red;
}


/* ---- Options ---- */
#options {
    background-color: @module-bg;
    margin: 2;
    border-radius: 3;
    padding: 2;
    transition: all 0.4s ease-in-out;
}
#options:hover {
    background-color: @module-bg;
    color: inherit;
    padding: 2 10 2 2;
    transition: all 0.4s linear;
}

#custom-options {
    border-radius: 3;
    background-color: inherit;
    padding: 5 9 5 8;
    margin: 3;
    transition: all 0.2s ease-in-out;
}
#custom-options:hover {
    background-color: @module-hover;
}

#volume {
    background-color: @module-bg;
    border: 2px solid @module-bg;
    transition: all 0.2s ease-in-out;
    border-radius: 3;
    margin: 2;
}
#volume:hover {
    color: @background;
    background-color: @module-hover;
    border: 2px solid @module-hover;
}
#custom-volume {
    background-color: inherit;
    color: @foreground;
    padding: 7;
}
#pulseaudio {
    color: @foreground;
    border-radius: 0 0 3 3;
    background-color: @module-bg;
    padding: 0 5;
}

#brightness {
    background-color: @foreground;
    border: 2px solid @foreground;
    transition: all 0.2s ease-in-out;
    border-radius: 3;
    margin: 3;
}
#brightness:hover {
    background-color: @light-blue;
    border: 2px solid @light-blue;
}
#custom-brightness {
    background-color: inherit;
    color: @background;
    padding: 5;
}
#backlight {
    border-radius: 0 0 3 3;
    background-color: @module-bg;
    padding: 5;
}

#packages {
    background-color: @foreground;
    border: 2px solid @foreground;
    transition: all 0.2s ease-in-out;
    border-radius: 3;
    margin: 3;
}
#packages:hover {
    background-color: @light-yellow;
    border: 2px solid @light-yellow;
}
#custom-packages {
    background-color: inherit;
    color: @background;
    padding: 5 6 5 4;
}
#custom-packagesnum {
    border-radius: 0 0 3 3;
    background-color: @module-bg;
    padding: 5;
}

#pulseaudio.muted {
    color: @light-red;
}

/* ---- Center ---- */
#clock {
    background-color: @module-bg;
    border-radius: 3;
    /* font-size: 13; */
    font-weight: bold;
    margin: 2;
    padding: 11 10 9 10;
    transition: all 0.3s ease-in-out;
}
#clock:hover {
    background-color: @module-hover;
}

#media {
    background-color: @module-bg;
    border-radius: 3;
    font-weight: bold;
    margin: 2;
    padding: 3 10 2 10;
    transition: all 0.3s ease-in-out;
}
#media:hover {
    background-color: @module-hover;
}
#mediatext {
    margin-left: 10;
    /* padding: 3 0 0 0; */
}
#custom-title {
    font-size: 10;
}
#custom-artist {
    font-size: 10;
}
#custom-title.paused {
    color: @module-hover;
}
#custom-artist.paused {
    color: @module-hover;
}

/* ---- Bottom ---- */
#custom-mediabar {
    background-color: @module-bg;
    border-radius: 3;
    margin: 2;
    padding: 10 12 10 12;
    transition: all 0.3s ease-in-out;
}
#custom-mediabar:hover {
    background-color: @module-hover;
}

#trayer {
    background-color: @module-bg;
    border-radius: 3;
    margin: 2;
    padding: 3 10;
    transition: all 0.3s ease-in-out;
}
#trayer:hover {
    background-color: @module-hover;
}
#tray {
    margin: 0 10 0 0;
    padding: 0;
    transition: all 0.3s ease-in-out;
}
#tray > widget {
    background-color: inherit;
    border-radius: 3;
    transition: all 0.3s ease-in-out;
    padding: 10 5;
}
#tray > widget:hover {
    background-color: @background;
}
#tray > .active {
    background-color: inherit;
}

#custom-notification {
    background-color: @module-bg;
    border-radius: 3;
    margin: 2;
    padding: 3 12;
    transition: all 0.3s ease-in-out;
}
#custom-notification:hover {
    background-color: @module-hover;
}

#battery {
    background-color: @module-bg;
    border-radius: 3;
    margin: 2;
    padding: 3 14;
    transition: all 0.3s ease-in-out;
}
#battery:hover {
    background-color: @module-hover;
}
#battery.full {
    color: @light-blue;
}
#battery.good {
    color: @light-blue;
}
#battery.charging, #battery.plugged {
    color: @light-green;
}
@keyframes blink {
    to {
        background-color: @background;
        color: @foreground;
    }
}
#battery.good:not(.charging) {
    color: inherit;
}
#battery.warning:not(.charging) {
    background-color: @light-yellow;
    color: @background;
}
#battery.critical:not(.charging) {
    background-color: @light-red;
    color: @background;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#network {
    background-color: transparent;
}

#network.disconnected {
    color: #f53c3c;
}



