* {
  font-family: "Symbols Nerd Font", "MonaspiceNe Nerd Font";
  font-size: 13;
}

@import "../colors.css";

window#waybar {
    background-color: transparent;
    color: @foreground;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar > box {
    background-color: transparent;
    border-radius: 3;
    margin: 5;
}

.modules-right {
    background-color: @background;
    border-radius: 3;
    padding: 5px;
}

#mid {}
#midtop {
    background-color: @module-bg;
    border-radius: 3;
    padding: 6 15;
}
/* #batterybox { */
/*     background-color: @module-bg; */
/*     border-radius: 3; */
/*     padding: 5 15; */
/* } */
#custom-batkosong {
    padding: 0 40;
    margin: -5 0;
    color: transparent;
}
#battery {
    font-size: 32;
    margin: 0 0 0 12;
    /* background-color: @module-hover; */
    /* padding: 0 10; */
}
#custom-batpercentage {
    padding: 5 0 0 0;
    margin: 0 0 0 15;
    font-size: 26;
    font-weight: bold;
}

#screenshot, #screencapt {
    background-color: @module-bg;
    border-radius: 3;
    margin: 5 0 0 0;
    padding: 11 12;
}
#screencapt { margin: 5 0 0 5; }
#custom-ssicon, #custom-scicon {
    font-size: 24;
    margin-bottom: 10;
}
#custom-sstext, #custom-sstexts, #custom-sctext, #custom-sctexts {
    font-size: 11;
}


/* memory box */
#custom-memkosong {
    margin: -5 0;
    padding: 1 30;
    color: transparent;
}
#memorys {
    background-color: @module-bg;
    border-radius: 3;
    margin: 5 0 0 5;
}
#memorys:hover {
    background-color: @module-hover;
    transition: all 0.3s ease-in-out;
}
#disks {
    background-color: @module-bg;
    border-radius: 3;
    margin: 5 0 0 5;
}
#disks:hover {
    background-color: @module-hover;
    transition: all 0.3s ease-in-out;
}

/* button */
#custom-lock,
#custom-suspend,
#custom-reboot,
#custom-logout,
#custom-poweroff {
    background-color: @module-bg;
    border-radius: 3;
    margin: 0 0 5 5;
    padding: 10 15;
    transition: all 0.3s ease-in-out;
}

#custom-lock:hover,
#custom-suspend:hover,
#custom-reboot:hover,
#custom-logout:hover,
#custom-poweroff:hover {
    background-color: @module-hover;
}
