* {
  font-family: "Symbols Nerd Font", "MonaspiceNe Nerd Font";
  font-size: 13;
}

@import "../colors.css";

window#waybar {
    background-color: transparent;
    color: @foreground;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar > box {
    background-color: transparent;
    border-radius: 3;
    margin: 5;
}

.modules-left {
    background-color: @background;
    border-radius: 3;
    padding: 10px;
}

#batterybox {
    background-color: @module-bg;
    border-radius: 3;
    padding: 5 15;
}
#custom-batlogo {
    font-size: 48;
    /* background-color: @module-hover; */
    padding: 0 10;
}
#battext {
    padding: 10 0 10 20px;
    font-weight: bold;
}
#battery {
    font-size: 22;
}

/* temperature box */
#temperaturebox {
    background: @module-bg;
    margin: 5 0 0 0;
    padding: 8 0 0 0;
}
#custom-tempkosong {
    color: @module-bg;
    padding: 0 30;
}
#custom-temptext {
    font-weight: bold;
}

/* memory box */
#custom-memkosong {
    margin: -5 0;
    padding: 1 30;
    color: transparent;
}
#memorys {
    background-color: @module-bg;
    border-radius: 3;
    margin: 5 0 0 5;
}
#memorys:hover {
    background-color: @module-hover;
    transition: all 0.3s ease-in-out;
}
#disks {
    background-color: @module-bg;
    border-radius: 3;
    margin: 5 0 0 5;
}
#disks:hover {
    background-color: @module-hover;
    transition: all 0.3s ease-in-out;
}

/* button */
#custom-ptext {
    padding: 8 0 5 0;
    color: alpha(@foreground, 0.5);
}

#custom-lock {
    background-color: @module-bg;
    border-radius: 3;
    margin: 5 0 0 0;
    padding: 10 12 10 12;
    transition: all 0.3s ease-in-out;
}
#custom-suspend {
    background-color: @module-bg;
    border-radius: 3;
    margin: 5 0 0 5;
    padding: 10 11 10 13;
    transition: all 0.3s ease-in-out;
}
#custom-reboot {
    background-color: @module-bg;
    border-radius: 3;
    margin: 5 0 0 5;
    padding: 10 12 10 12;
    transition: all 0.3s ease-in-out;
}
#custom-logout {
    background-color: @module-bg;
    border-radius: 3;
    margin: 5 0 0 5;
    padding: 10 12 10 12;
    transition: all 0.3s ease-in-out;
}
#custom-poweroff {
    background-color: @module-bg;
    border-radius: 3;
    margin: 5 0 0 5;
    padding: 10 22 10 20;
    transition: all 0.3s ease-in-out;
}

#custom-lock:hover,
#custom-suspend:hover,
#custom-reboot:hover,
#custom-logout:hover,
#custom-poweroff:hover {
    background-color: @module-hover;
}
